*{
	margin:0;
	padding:0;
  box-sizing: border-box;
}
section{
  background-color: rgb(37, 35, 31);
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; 
  
}

#display{
  margin:0.2rem;
  padding: 1.2rem;
  height: 90px;
  width: 21rem; 
  text-align: right;
  font-size: 2rem;
  border: none;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  
}

table .button{
  width: 7rem;
  height: 5rem;
  background-color: rgb(158, 122, 55);
  border:white;
  color: aliceblue;
  font-size: 2rem;
}
table .button:hover{
  background-color: rgb(78, 59, 59)
}
.equal{
  border-bottom-right-radius: 2rem;
}
.zero{
  border-bottom-left-radius: 2rem;
}
